.menu_item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 700;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .icon_active {
            display: flex;
        }
    }
}

.title {
    margin-left: 10px;
}
// icon
.icon {
    display: flex;
}

.icon_active {
    display: none;
}
